.abc{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}
.xyz{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
}
h3{
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 1em 1em 0px 0px;
}
.bg-dark{
    background: black;
    color:aliceblue;
}
.py-3{
    padding: 3rem 0px 3rem 0px;
}
#contact-b .contact-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact-info{
    color:black;
}
section{
    display: flex;
}